body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    background-color: #ff00dd;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 5px;
}

button:hover {
    background-color: #aa00b3;
}

.result-container {
    background-color: #bed0e1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.output {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
    margin: 10px 0;
    white-space: pre-wrap; /* Mantiene el formato de espacios y saltos de línea */
}
